@import '../../../../mixins';
@import "../../../../App";

.topBlockWrapper{
  background-image: linear-gradient(rgba(14, 16, 28, 0.85), rgba(17, 19, 33, 0.85)), url(../../../../images/6.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  @include flexBox(center, center);

  h1{
    color: $colorWhite;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
  }
}

@media(max-width: 850px){
  .topBlockWrapper{
    h1{
      font-size: 35px;
    }
  }
}
@media(max-width: 480px){
  .topBlockWrapper{
    min-height: 200px;
  }
}